


body {
	font-size: 16px;
	color: #000;
	font-family: 'Rubik', sans-serif;
}




#NoteToSelf {
	color: rgba(255, 0, 0, 1.0);
}

.data_dropoff {
	color: rgba(0, 0, 0, 0.5);
	width: 350px;
	height: 70px;
	padding:  10px;
	text-align: center;
	line-height:  70px;
	border:  solid rgba(0, 0, 0, 0.25);
	border-style: dashed;
	border-radius: 10px;
}






.slider {
	-webkit-appearance: none;
	width: 30%;
	height: 25px;
	background: #d3d3d3;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}


.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}






.canvas {
	width: 100%;
	max-width: 600px;
}



.tile_title {
	text-align: center;
}



#home-tiles {
	margin-bottom: 30px;
}



.data_dropoff_tile {
	text-align: center;
	width: 100%;
	border: solid rgba(0, 0, 0, 0.0); /* Blank border so no movement when hovering */
}




.data_dropoff_tile:hover {
	background: url('../img/Upload_Logo.svg') no-repeat center;
	opacity: 0.25;
	border: solid rgba(0, 0, 0, 1.0);
	border-style: dashed;
	border-radius: 10px;
	transition: 0.0s;
}





#data_dropoff_Pisarenko.hover {
	background: url('../img/Upload_Logo.svg') no-repeat center;
	opacity: 0.25;
	border: solid rgba(0, 0, 0, 1.0);
	border-style: dashed;
	border-radius: 10px;
	transition: 0.0s;
}



#data_dropoff_Mobility.hover {
	background: url('../img/Upload_Logo.svg') no-repeat center;
	opacity: 0.25;
	border: solid rgba(0, 0, 0, 1.0);
	border-style: dashed;
	border-radius: 10px;
	transition: 0.0s;
}



#data_dropoff_zT.hover {
	background: url('../img/Upload_Logo.svg') no-repeat center;
	opacity: 0.25;
	border: solid rgba(0, 0, 0, 1.0);
	border-style: dashed;
	border-radius: 10px;
	transition: 0.0s;
}













/********** Large devices only **********/
@media (min-width: 1200px) {

	#logo-img {
		/* Change to svg once Rubik has been imported */
		background: url('../img/SPB_Lab_Logo2_Small.png') no-repeat center;
		width: 80px;
		height: 80px;
		margin: 5px 5px 5px 0;
	}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	
	.nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-shrink: 0;
		align-items: center;
		align-self: stretch;
	}

	/* Header */
	#logo-img {
		background: url('../img/SPB_Lab_Logo2_Small.png') no-repeat center;
		width: 80px;
		height: 80px;
		margin: 5px 5px 5px 0;
	}
	/* End Header */

}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	
	.container {
		width: 750px;
	}

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	
	.navbar-brand h1 { /* Restaurant name */
		padding-top: 10px;
		font-size: 5vw; /* 1vw = 1% of viewport width */
	}
	
	.navbar-brand p { /* Kosher cert */
		font-size: .6em;
		margin-top: 12px;
	}
	
	.navbar-brand p img { /* Star-K */
		height: 20px;
	}

	#collapsable-nav a { /* Collapsed nav menu text */
		font-size: 1.2em;
	}

	#collapsable-nav a span { /* Collapsed nav menu glyph */
		font-size: 1em;
		margin-right: 5px;
	}

}




/* Extra small devices */

@media (max-width: 479px) {

	#menu-tile, #specials-tile {
		width: 280px;
		margin: 0 auto 15px;
	}

}












































/* Header */
#header-nav {
	background-color: #ffd55a;
	border-radius: 0;
	border: 0;
}




/* Brand name */
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	color:  #070A41;
	font-size: 2.0em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}




/* Navigation icons */
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #070A41; 
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7; 
}
#nav-list a span {
	font-size: 1.8em;
}









.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}


.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}













